*{margin: 0;padding: 0;box-sizing: border-box;}
body{min-height: 100vh;width: 100%;background-image: linear-gradient(darkblue,#2234AE);}
.main{height: 60vh;width: 100vh;background-color: white;margin: 20vh auto;border-radius: 20px;box-shadow: 2px -1px 15px whitesmoke;transition: transform .2s;}
.heading{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-align: center;font-size: 3rem;padding-top: 2vh;letter-spacing: 1px;word-spacing: 2px;}
.headsub{font-family: monospace;text-align: center;padding-top: 1vh;} 
.icons{list-style: none;color: royalblue;margin-left: 12vh;margin-top: 30vh;} .icons p{color: black;font-weight: 600;font-family: monospace;} .icons li{float: left;margin-left: 10vh;text-align: center;}
.icons li p a{text-decoration: none;} .about{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding-left: 5vh;padding-right: 5vh;padding-top: 2vh;}
.main:hover {
    transform: scale(1.1);box-shadow: 2px -1px 15px black;}
     @Media (max-width:768px){.main{height: 30vh;width:60vh;} .icons{color: white;margin-left:0%;margin-top: 7vh;} .icons p{color: white;} .icons li{margin-left: 5vh;} }